In [1]:
sentence="I have used Python built-in functions"
len(sentence)

37

In [2]:
def greet_user():
    print("Hello!")
greet_user()

Hello!

In [6]:
def greet_user(username):
    print("Hii!",username)
greet_user('Manvith')

Hii! Manvith

In [10]:
def greet_user(username):
    return "Hii! " + username
greeting=greet_user('Yukti')
print(greet_user('Manvith'))
print(greeting)
print(greeting*2)

Hii! Manvith
Hii! Yukti
Hii! YuktiHii! Yukti

In [14]:
num1=int(input("Enter the first Number: "))
num2=int(input("Enter the second Number: "))
def greater_number(a,b):
    if a>b:
        return a
    elif b>a:
        return b
    else:
        return -1
print(greater_number(num1,num2))
greater_number(1,5)

Enter the first Number:  23
Enter the second Number:  45

45

5

In [15]:
from math import pow
print(pow(2,3))

8.0

In [17]:
def person_details(name,age):
    print('Name:',name)
    print('Age:',age)
person_details('Manvith',21)

Name: Manvith
Age: 21

In [19]:
def uppercase_converter(str1):
    return str1.upper()
s1="manvith"
s2=uppercase_converter(s1)
print(s2)

MANVITH

In [23]:
def calculate_total(num1,num2):
    total=num1+num2
    return total
print(calculate_total(24,0.9))

24.9

In [25]:
def calculate_max(num1,num2):
    if num1>num2:
        return num1
    return num2

print(calculate_max(9,8))
max_num=calculate_max(10,6.2)
print(max_num)

9
10

In [26]:
def function_none():
    pass
value=function_none()
print(value)

None

In [30]:
def perform_calculations(num1,num2):
    return num1+num2,num1-num2,num1*num2,num1/num2
sum_nums,diff_nums,pro_nums,quo_nums=perform_calculations(6,3)
print(sum_nums)
print(diff_nums)
print(pro_nums)
print(quo_nums)

9
3
18
2.0

In [32]:
def min_list_value(numbers):
    mini=numbers[0]
    for i in numbers:
        if i<mini:
            mini=i
        i+=1
    return mini
ls=[6,11,5,7,15]
min_value=min_list_value(ls)
print(min_value)

5

In [34]:
def count_adelaide(customers):
    count=0
    for customer in customers:
        if customer['postcode']>=5000 and customer['postcode']<6000:
            count+=1
    return count

customers=[{'name':"Manvith",'age':22,'postcode':5108},
           {'name':'Yukti','age':25,'postcode':5678}]
print(count_adelaide(customers))

2

In [36]:
# Local variable example
def function_name():
    x=10
    print(x) #Yes
    def inner_func():
        print(x) #Yes
    inner_func()
function_name()
print(x) #No

10
10

NameError: name 'x' is not defined

In [38]:
# Global variable exxample
x=9
def function_name():
    print(x) #Yes
function_name()
print(x) #Yes

9
9

In [39]:
# Same variable exxample
x=45
def function_name():
    x=18
    print(x) #local
function_name()
print(x) #global

18
45

In [43]:
# global keyword example
x=9
def function_name():
   global x
   x=11
function_name()
print(x)

11

In [44]:
def mystery(num):
    num=num+1
    print('inside mystery, num=',num)

num=1
print('outside mystery, num=',num)
mystery(num)
print('outside mystery, num=',num)

outside mystery, num= 1
inside mystery, num= 2
outside mystery, num= 1

In [45]:
def mystery_list(ls):
    ls.append(0)
    print('inside mystery,list=',ls)

ls=[1,3,5,7,9]
print('outside mystery, list=', ls)
mystery_list(ls)
print('outside mystery, list=', ls)

outside mystery, list= [1, 3, 5, 7, 9]
inside mystery,list= [1, 3, 5, 7, 9, 0]
outside mystery, list= [1, 3, 5, 7, 9, 0]

In [46]:
def swap(num1,num2):
    temp=num1
    num1=num2
    num2=temp

def swap_list(ls1,ls2):
    temp=ls1
    ls1=ls2
    ls2=temp
num1=18
num2=45
swap(num1,num2)
print(num1,num2)

ls1=[2,4,6]
ls2=[1,3,5]
swap_list(ls1,ls2)
print(ls1,ls2)

18 45
[2, 4, 6] [1, 3, 5]

In [48]:
# Positional Arguments
def user_info(username,userid):
    print(f"My name is {username} and my id is {userid}.")
user_info("Manvith","a1983706")
# user_info("Yukti") # Error coz only one argument is passed
# user_info("a1983706","Manvith") not an error but order matters

My name is Manvith and my id is a1983706.

In [50]:
# Default Value
def greet_user(username="Manvith"):
    print(f"Hii {username}.")
greet_user("Yukti.")
greet_user()

Hii Yukti..
Hii Manvith.

In [51]:
def user_info(username,userid='No ID'):
    print(f"My name is {username}. My id is {userid}")

user_info("Manvith","a1983706")
user_info("Yukti")

My name is Manvith. My id is a1983706
My name is Yukti. My id is No ID

### Note
Defining default arguments before positional arguments throws error.

In [52]:
import csv
def add_reservation(name,food_preference='none'):
    with open('reservation.csv','a') as file:
        writer=csv.writer(file)
        writer.writerow([name,food_preference])
add_reservation(name="Manvith")
add_reservation(name="Yukti",food_preference="Non-vegetarian")

In [55]:
def construct_login_greeting(fname,lname,message="Hello",login_type="general user", detailed_message="Welcome to the user's dashboard"):
    return message+" "+fname+" "+lname+"!"+"\n"+"Your login type is: "+login_type+"\n"+detailed_message
print(construct_login_greeting("Manvith","Vishwanatham","privileged user"))
print(construct_login_greeting("Manvith","Vishwanatham",login_type="privileged user"))
print(construct_login_greeting(login_type="privileged user",fname="Manvith",lname="Vishwanatham"))

privileged user Manvith Vishwanatham!
Your login type is: general user
Welcome to the user's dashboard
Hello Manvith Vishwanatham!
Your login type is: privileged user
Welcome to the user's dashboard
Hello Manvith Vishwanatham!
Your login type is: privileged user
Welcome to the user's dashboard

### Note

keyword arguments should be after positional arguments.

In [58]:
def greet(name,project,group=None):
    print(group,": Welcome",name,"from",project)

# greet(name="Manvith","Coles-analysis") # Error
greet("Manvith",group="Data Science",project="Coles-analysis.")

Data Science : Welcome Manvith from Coles-analysis.

In [61]:
def calculate_numbers(x,y,operation='add'):
    if operation=='add':
        return x+y
    elif operation == "subtract":
        return x-y
print(calculate_numbers(x=1,y=3))
print(calculate_numbers(1,3,"subtract"))
# print(calculate_numbers(y=3,x=1,"subtract")) # Error
print(calculate_numbers(y=3,x=1,operation="subtract"))
print(calculate_numbers(operation="subtract",y=5,x=2))
print(calculate_numbers(y=1,x=5))

4
-2
-2
-3
6

In [62]:
def construct_login_greeting(*args):
    print(args)
    print(type(args))

construct_login_greeting("Manvith","Yukti","Madhu","Venkat","Kartik")

('Manvith', 'Yukti', 'Madhu', 'Venkat', 'Kartik')
<class 'tuple'>

In [63]:
def sum_vals(*numbers):
    total=0
    for num in numbers:
        total+=num
    return total
print(sum_vals(1,2,3))
print(sum_vals(1,2,3,4,5))

6
15

In [65]:
def print_values(*args):
    for value in args:
        print(value)

print_values("Manvith",23,18,"Yukti")
print_values(20,40,60)
print_values(90,120)

Manvith
23
18
Yukti
20
40
60
90
120

In [66]:
def addition(a,b,*args,option=True):
    result=0
    if option:
        for i in args:
            result+=i
        return a+b+result
    else:
        return result

print(addition(1,4,12,19))
print(addition(1,4,12,19,option=False))

36
0

In [68]:
def construct_login_greeting(**kargs):
    print(kargs)
    print(type(kargs))

construct_login_greeting(fname1="Manvith",fname2="Yukti")

{'fname1': 'Manvith', 'fname2': 'Yukti'}
<class 'dict'>

In [69]:
def isInAdelaide(**customer):
    sum=0
    if customer['postcode']>=5000 and customer['postcode']<6000:
        return True

if isInAdelaide(name="Manvith",postcode=5108):
    print("Manvith is in Adelaide")
if isInAdelaide(name="Yukti",postcode=5200,age=52):
    print("Yukti is in Adelaide")

Manvith is in Adelaide
Yukti is in Adelaide

In [73]:
import csv

def meal_counter():
    with open('reservation.csv') as file:
        reader=csv.DictReader(file)
        meals={'seafood':0,'chicken':0,'vegetarian':0,'unspecified':0}
        for row in reader:
            if row['food_preference']=='seafood':
                meals['seafood']+=1
            elif row['food_preference']=='chicken':
                meals['chicken']+=1
            elif row['food_preference']=='vegetarian':
                meals['vegetarian']+=1
            else:
                meals['unspecified']+=1
    return (meals)

meal_count=meal_counter()
print(meal_count)

{'seafood': 1, 'chicken': 2, 'vegetarian': 2, 'unspecified': 0}

In [76]:
def calculate_cube(num):
    return num*num*num

calculate_cube(8)

512

In [77]:
print(lambda num: num*num*num)

<function <lambda> at 0x13b8d7e20>

In [79]:
print((lambda num: num*num*num)(8))

512

In [80]:
lambda_cube=lambda num:num*num*num
print(lambda_cube(8))

512

In [81]:
total=lambda num1,num2:num1+num2
print(total(1,4))

5

In [83]:
greeting=lambda str1,str2,str3:str1+str2+str3
print(greeting("Hii ","Yukti and ","Manvith!"))

Hii Yukti and Manvith!

In [84]:
max_value=lambda num1,num2: num1 if num1>num2 else num2
print(max_value(8,9))

9

In [91]:
check_num=lambda x: f"{x} is greater than 5." if x>5 else f"{x} is less than or equal to 5"
print(check_num(5))
print(check_num(9))

5 is less than or equal to 5
9 is greater than 5.

## Workshop 1

In [92]:
for i in range(200,500):
    if i%11==0 and i%2!=0:
        print(i)

209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [93]:
for x in range(3):
    for y in range(2):
        print("Practice Questions of loops in python")
    print()

Practice Questions of loops in python
Practice Questions of loops in python

Practice Questions of loops in python
Practice Questions of loops in python

Practice Questions of loops in python
Practice Questions of loops in python

In [94]:
for k in range(10,20,4):
    print(k)

10
14
18

In [102]:
dict1={'name':'Manvith','age':21}
print('age' in dict1)

True

In [103]:
dict1={'name':'Manvith','age':21,'num':21}
unq_dict={}
for k,v in dict1.items():
    if v not in unq_dict.values():
        unq_dict[k]=v
print(unq_dict)

{'name': 'Manvith', 'age': 21}

In [109]:
dict1={'a':10}
if dict1==dict():
    print("The dictionary is empty")
else:
    print("The dictionary is not empty")

# OR
dict2={}
if not dict2:
    print("The dictionary is empty")
else:
    print("The dictionary is not empty")

#OR

dict3={'Yukti':"Hii"}
if len(dict3)==0:
    print("The dictionary is empty")
else:
    print("The dictionary is not empty")

The dictionary is not empty
The dictionary is empty
The dictionary is not empty

In [113]:
dict1={'x':100,'y':200,'m':300}
dict2={'x':300,'y':200,'z':400}
dict3={}
for k,v in dict1.items():
    dict3[k]=v
for k,v in dict2.items():
    if k in dict3:
        dict3[k]+=v
    else:
        dict3[k]=v
print(dict3)

{'x': 400, 'y': 400, 'm': 300, 'z': 400}

In [118]:
Data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
unq_dict=set()
for dic in Data:
    unq_dict.update(dic.values())
print(f"Unique Values: {unq_dict}")

Unique Values: {'S007', 'S002', 'S001', 'S009', 'S005'}

In [125]:
data={'1':['m','n'],'2':['x','y']}
for i in range(len(data['1'])):
    for j in range(len(data['2'])):
        print(data['1'][i]+data['2'][j])

mx
my
nx
ny

In [127]:
def greet():
    print('hello')
for i in range(10):
    greet()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [132]:
def print_to_200():
    for i in range(1,201):
        print(i)
print_to_200()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

In [136]:
def add(x,y):
    return x+y

def mul(x,y):
    return x*y

print(add(12,14))
print(mul(16,4))
print(mul(mul(add(3,5),add(6,7)),add(8,9)))
x1=add(3,5)
x2=add(6,7)
x3=add(8,9)
y1=mul(x1,x2)
y2=mul(y1,x3)
print(y2)

26
64
1768
1768

In [137]:
def print_to_n(n):
    for i in range(0,n+1):
        print(i)
    print('---')

print_to_n(3)
print_to_n(5)

0
1
2
3
---
0
1
2
3
4
5
---

In [139]:
def print_m_to_n(m,n):
    for i in range(m,n+1):
        print(i)
print_m_to_n(10,30)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [140]:
def add(x,y):
    c=x+y
    return c

s=3+5
print(s)

s=add(3,5)
print(s)

8
8

In [141]:
def sub(x,y):
    return x-y

def div(x,y):
    return x/y

s=div(sub(6,2),sub(4,1))
print(s)

1.3333333333333333

In [142]:
def area(length,breadth):
    return length*breadth

def perimeter(length,breadth):
    return 2*(length+breadth)

print(area(2,4))
print(perimeter(3,4))

8
14

In [143]:
def eligible_to_vote(age):
    if age>=18:
        print("Able to vote.")
    else:
        print("Not able to vote.")

eligible_to_vote(21)
eligible_to_vote(17)

Able to vote.
Not able to vote.

In [144]:
def is_even(num):
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

is_even(2)
is_even(5)

2 is even
5 is odd

In [146]:
def list_mean(ls):
    mean=0
    for i in ls:
        mean+=i
    return mean/len(ls)

def list_sum(ls):
    total=0
    for i in ls:
        total+=i
    return total

def list_max(ls):
    maxi=ls[0]
    for i in ls:
        if i>maxi:
            maxi=i
    return maxi

ls=[1,2,3,4,5]
print(list_mean(ls))
print(list_sum(ls))
print(list_max(ls))

3.0
15
5

In [149]:
def list_max_1(my_list):
    maxi=my_list[0]
    for i in my_list:
        if i>maxi:
            maxi=i
    return maxi

def list_max_2(data):
    maxim=list_max_1(data[0])
    for i in data:
        if list_max_1(i)>maxim:
            maxim=list_max_1(i)
    return maxim

print(list_max_2([[1,2],[3,4],[1,2]]))
print(list_max_2([[1,2,3],[-1,1],[1,2]]))
print(list_max_2([[5,7,9]]))
print(list_max_2([[5],[7],[9]]))

4
3
9
9

In [151]:
def outer_fun(x,y):
    def inner_fun(m,n):
        return m+n
    return inner_fun(x,y)

output=outer_fun(5,10)
print(output)

15

In [157]:
def f():
    global y
    print(y)
    y='hello'
    print(y)
y='world'
f()
print(y)

world
hello
hello

### Workshop 2

In [158]:
def person_details(name,age):
    print(f"Hi {name}, you are {age} years old.")
person_details("Manvith",21)

Hi Manvith, you are 21 years old.

In [159]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact*=i
    return fact

print(factorial(5))

120

In [161]:
str1="The quick Brow Fox"
def count_of_case(str1):
    upper,lower=0,0
    for i in str1:
        if i.isupper():
            upper+=1
        else:
            lower+=1
    return upper,lower

up,lo=count_of_case(str1)
print(f"No. of Upper case characters: {up}")
print(f"No. of lower case characters: {lo}")

No. of Upper case characters: 3
No. of lower case characters: 15

In [162]:
def calculation(num1,num2):
    return num1+num2,num1-num2

print(calculation(2,4))

(6, -2)

In [163]:
def fun_outer(a,b):
    def fun_inner():
        return a+b
    return fun_inner()+5
print(fun_outer(2,3))

10

In [171]:
def total(n):
    if n>0:
        return n+total(n-1)
    else:
        return 0
result=total(10)
print(result)

55

In [172]:
def display_student(name,age):
    print(name,age)

display_student("Manvith",21)
show_student=display_student
show_student("Yukti",24)

Manvith 21
Yukti 24

In [173]:
def even_num():
    li=[]
    for i in range(4,31):
        if i%2==0:
            li.append(i)
    return li
print(even_num())

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [176]:
def max_from_list(li):
    maxi=li[0]
    for i in li:
        if i>maxi:
            maxi=i
    return maxi
li=[23,34,32,14,54,79,13]
print(max_from_list(li))

79

In [179]:
# 1. List
def sum_of_list(li):
    total=0
    for i in li:
        total+=i
    return total

print(sum_of_list([1,2,3,45]))

def calculate_sum(num1,num2):
    return num1+num2

print(calculate_sum(3,4))

def calculate_total(n1,n2,n3):
    return n1*(n3+n2)

print(calculate_total("Hello ",1,2))

def str_concat(str1,str2):
    return str1+str2

print(str_concat(str2="Manvith",str1="Hi "))

51
7
Hello Hello Hello
Hi Manvith

In [180]:
def sub(x,y=2):
    return x-y

def div(x,y):
    return x/y

s=div(sub(6,2),sub(4))
print(s)

2.0

In [181]:
def foo(x,y=3):
    print(x+y)

foo(5)

8

In [182]:
def print_m_to_n(m,n):
    for i in range(m,n+1):
        print(i)

print_m_to_n(m=15,n=25)
print('---')
print_m_to_n(n=25,m=15)

15
16
17
18
19
20
21
22
23
24
25
---
15
16
17
18
19
20
21
22
23
24
25

In [184]:
def display_person(*args):
    for i in args:
        print(i)
display_person(name="Manvith",age="21") ## Error coz *args takes arguments as a tuple not as dict

TypeError: display_person() got an unexpected keyword argument 'name'

In [189]:
def arg_printer(a,b,*args,option=True,**kwargs):
    print(a,b)
    print(args)
    print(option)
    print(kwargs)

arg_printer(1,4,9,12,False,option=False,param1=5,param2=6)

1 4
(9, 12, False)
False
{'param1': 5, 'param2': 6}

In [190]:
def outer_fun():
    def inner_fun():
        print("Hi from inside")
    inner_fun()

outer_fun()

Hi from inside

In [192]:
def play_with_args(*args):
    total=0
    if len(args)>6:
        total=1
        for i in args:
            total*=i
    else:
        for i in args:
            total+=i
    return total

print(play_with_args(1,2,3,4,5,6,7))
print(play_with_args(1,2,3,4,5))

5040
15

In [195]:
def dict_printer(*args):
    for d in args:
        for i,j in d.items():
            print(i,j)
        print()

dict_printer({'a':1,'b':2},{'c':3,'d':4})

a 1
b 2

c 3
d 4

In [218]:
def list_merger(list1,list2,mode="show"):
    li=[]
    if mode=="show":
        j=0
        for i in range(0,len(list1)*2,2):
            li.insert(i,list1[i-j])
            li.insert(i+1,list2[i-j])
            j+=1
    elif mode=="hide":
        for i in range(0,len(list1)*2):
            li.append('?')
    return li

list1=[1,2,3,4]
list2=[-1,-2,-3,-4]
print(list_merger(list1,list2,"hide"))
print(list_merger(list1,list2))

['?', '?', '?', '?', '?', '?', '?', '?']
[1, -1, 2, -2, 3, -3, 4, -4]

In [220]:
f=lambda x: x
print(f(2))

2