In [1]:
str1='Hello! World'
print(str1[0])
print(len(str1))
print(str1[len(str1)-1])
# print(str1[len(str1)]) # index out of range

H
12
d

In [2]:
#index()
print(str1.index('!'))
print(str1.index(' '))
print(str1.index('W'))
print(str1.index('or'))
print(str1.index('o',6,9))

5
6
7
8
8

In [3]:
#find()
print(str1.find('!'))
print(str1.find('k'))

5
-1

### Note
The only difference between index() and find() is that if the specified sub-string is not in the string, index() returns ValueError whereas find() returns -1.

In [4]:
str2='Manvith'
print(len(str2))
print(str2[0:5])
print(str2[0:5:1])
print(str2[::2])
print(str2[:10])
print(str2[:-1])
print(str2[-7:-3])
print(str2[-3:-1])
print(str2[:])

7
Manvi
Manvi
Mnih
Manvith
Manvit
Manv
it
Manvith

In [5]:
alphabet='abcdefghijklmnopqrstuvwxyz'
print(alphabet[:5])
print(alphabet[5:21])
print(alphabet[:21])
print(alphabet[::2])
print(alphabet[::4])
print(alphabet[::-1])

abcde
fghijklmnopqrstu
abcdefghijklmnopqrstu
acegikmoqsuwy
aeimquy
zyxwvutsrqponmlkjihgfedcba

In [6]:
str3='Manvith aspires to become data scientist.\nCurrently pursuing Masters in University of Adelaide.'
l1=str3.split()
print(type(l1))
print(l1)
print(str3.split('\n'))

<class 'list'>
['Manvith', 'aspires', 'to', 'become', 'data', 'scientist.', 'Currently', 'pursuing', 'Masters', 'in', 'University', 'of', 'Adelaide.']
['Manvith aspires to become data scientist.', 'Currently pursuing Masters in University of Adelaide.']

In [7]:
txt="Manvith, Venkat, Madhu, Karthik"
# Without maxsplit
lst1=txt.split(", ")
print(lst1)
print(len(lst1))
lst2=txt.split(", ",3)
print(lst2)
print(len(lst2))
lst2=txt.split(", ",2)
print(lst2)
print(len(lst2))
lst2=txt.split(", ",1)
print(lst2)
print(len(lst2))
lst2=txt.split(", ",0)
print(lst2)
print(len(lst2))

['Manvith', 'Venkat', 'Madhu', 'Karthik']
4
['Manvith', 'Venkat', 'Madhu', 'Karthik']
4
['Manvith', 'Venkat', 'Madhu, Karthik']
3
['Manvith', 'Venkat, Madhu, Karthik']
2
['Manvith, Venkat, Madhu, Karthik']
1

In [8]:
list1=['Manvith','Venkat','Karthik','Madhu']
print(' '.join(list1))
print('#'.join(list1))

Manvith Venkat Karthik Madhu
Manvith#Venkat#Karthik#Madhu

In [9]:
str1='I love programming'
lst1=str1.split(' ')
print('-'.join(lst1))

I-love-programming

In [10]:
def split_string(string):
    list_string=string.split(' ')
    return list_string

def join_string(list_string):
    string=' '.join(list_string)
    return string

string='My name is Manvith.'
list_string=split_string(string)
print(list_string)
new_string=join_string(list_string)
print(new_string)

['My', 'name', 'is', 'Manvith.']
My name is Manvith.

In [11]:
listNumbers=['zero','one',2,3,'four']
print(listNumbers[2])
print(listNumbers[1])
print(listNumbers[-1])

2
one
four

In [12]:
print(listNumbers[1:4])
print(listNumbers[::-1])
print(listNumbers[::2])
print(listNumbers[:-3])

['one', 2, 3]
['four', 3, 2, 'one', 'zero']
['zero', 2, 'four']
['zero', 'one']

In [13]:
lst=[1,2,3,4,5,6,7,8,9]
print(lst[::-3])

[9, 6, 3]

In [14]:
print(lst[3::2])
print(lst[::2])
print(lst[:3])
print(lst[3:])
print(lst[3:-1])
print(lst[-1:])
print(lst[:1])
print(lst[2:6])
print(lst[:2])

[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3]
[4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8]
[9]
[1]
[3, 4, 5, 6]
[1, 2]

In [15]:
list1=[1,2,3,'Hii',5,'six',7]
print(list1)
list1[3]='four'
print(list1)

[1, 2, 3, 'Hii', 5, 'six', 7]
[1, 2, 3, 'four', 5, 'six', 7]

In [16]:
list1=[12,23,34,4,5,5,6]
list1[4:6]=[18]
print(list1)
list1[4:6]=[20,21,1]
print(list1)

[12, 23, 34, 4, 18, 6]
[12, 23, 34, 4, 20, 21, 1]

In [17]:
even=[2,4,6,10]
even.insert(3,8)
print(even)

[2, 4, 6, 8, 10]

In [18]:
even.pop(2)
print(even)

[2, 4, 8, 10]

In [19]:
myStr='Manvith'
myStr=myStr+' Vishwanatham'
print(myStr)
myList=['Manvith']
myList.append(' Vishwanatham')
print(myList)

Manvith Vishwanatham
['Manvith', ' Vishwanatham']

In [20]:
listThings=['banana','apple','apple',3,10,78,5.5,'apple',list(range(200,205)),'apple','apple',10.5]
print(listThings)

['banana', 'apple', 'apple', 3, 10, 78, 5.5, 'apple', [200, 201, 202, 203, 204], 'apple', 'apple', 10.5]

In [21]:
listThings[0]=19
listThings[-2:]=['John','Danise']
listThings.insert(3,'Kelly')
listThings.pop(6)
listThings.insert(30,12) #inserts at last index even we mentioned higher index
print(listThings)
# listThings[30]=120 # IndexError

[19, 'apple', 'apple', 'Kelly', 3, 10, 5.5, 'apple', [200, 201, 202, 203, 204], 'apple', 'John', 'Danise', 12]

In [22]:
new_list=[]
for i in 'Hello!':
    new_list.append(i)
print(new_list)

['H', 'e', 'l', 'l', 'o', '!']

In [23]:
times_one=[0,1,1,2,3,5,8]
times_two=[i*2 for i in times_one]
print(times_two)

[0, 2, 2, 4, 6, 10, 16]

In [24]:
quarks=["Up","Down","Charm","Strange","Top","Bottom"]
lower_first_letter=[i[0].lower() for i in quarks]
print(lower_first_letter)

['u', 'd', 'c', 's', 't', 'b']

In [25]:
lst1=[]
for i in range(10):
    if i%2==0:
        lst1.append(i)
print(lst1)

[0, 2, 4, 6, 8]

In [26]:
even_numbers=[x for x in range(10) if x%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [27]:
num_lst=[y for y in range(100)  if (y%2==0 and y%5==0)]
print(num_lst)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [28]:
lst1=[]
for i in range(10):
    if i%2==0:
        lst1.append("even")
    else:
        lst1.append("odd")
print(lst1)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [29]:
lst1=["even" if i%2==0 else "odd" for i in range(10)]
print(lst1)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [30]:
matrix=[[1,9],[2,0],[9,6]]
transposed_matrix=[]
for i in range(2):
    transposed_row=[]
    for row in matrix:
        transposed_row.append(row[i])
    transposed_matrix.append(transposed_row)
print(transposed_matrix)

[[1, 2, 9], [9, 0, 6]]

In [31]:
matrix=[[1,9],[2,0],[9,6]]
transposed_matrix=[[row[i] for row in matrix] for i in range(2)]
print(transposed_matrix)

[[1, 2, 9], [9, 0, 6]]

## Tuples

In [32]:
def perform_calculations(num1,num2):
    return num1+num2,num1-num2,num1*num2,num1/num2
print(perform_calculations(10,2))

(12, 8, 20, 5.0)

In [33]:
def construct_login_greeting(*args):
    print(args)
    print(type(args))
construct_login_greeting("Manvith","Yukti","Venkat","Madhu","Karhik")

('Manvith', 'Yukti', 'Venkat', 'Madhu', 'Karhik')
<class 'tuple'>

In [34]:
t1=(10,10,'Manvith','Manvith',23,'one',1.23,True,False)
print(t1)

(10, 10, 'Manvith', 'Manvith', 23, 'one', 1.23, True, False)

In [35]:
t1=("Manvith")
print(t1)
print(type(t1))
t1=("Manvith",)
print(t1)
print(type(t1))

Manvith
<class 'str'>
('Manvith',)
<class 'tuple'>

In [36]:
details=("Manvith","Madhu","Yukti",1,2,3)
print(details[1])
print(details[-1])
print(details[2:5])
print(details[::2])
print(details[::-1])

print(details*2)

details1=("Venkat","Karthik")
print(details+details1)

print("Starting while loop:")
i=0
while i<len(details):
    if 'i' in str(details[i]):
        print(details[i])
    i+=1
print()

print("Starting for loop:")
for el in details[:4]:
    print(el)

Madhu
3
('Yukti', 1, 2)
('Manvith', 'Yukti', 2)
(3, 2, 1, 'Yukti', 'Madhu', 'Manvith')
('Manvith', 'Madhu', 'Yukti', 1, 2, 3, 'Manvith', 'Madhu', 'Yukti', 1, 2, 3)
('Manvith', 'Madhu', 'Yukti', 1, 2, 3, 'Venkat', 'Karthik')
Starting while loop:
Manvith
Yukti

Starting for loop:
Manvith
Madhu
Yukti
1

In [37]:
t1=(5,20,3,7,6,8)
k=2
j=k
t2=()
while j>0:
    min1=t1[0]
    for i in t1:
        if i<min1 and i not in t2:
            min1=i
    t2=t2+(min1,)
    j-=1
j=k
t3=()
while j>0:
    max1=t1[0]
    for i in t1:
        if i>max1 and i not in t3:
            max1=i
    t3=t3+(max1,)
    j-=1
t2+=t3[::-1]
print(t2)

(3, 5, 8, 20)

In [38]:
l1=[1,2,3]
l2=[(i,i**3) for i in l1]
l2

[(1, 1), (2, 8), (3, 27)]

In [39]:
t1=(7,8,9,1,10,7)
total=0
for i in t1:
    total+=i
print("The summation of tuple elements are:",total)

The summation of tuple elements are: 42

In [40]:
t1=(10,4,5,6)
t2=(5,6,7,5)
mod_tup=()
for i in range(len(t1)):
    mod_tup+=(t1[i]%t2[i],)
print(mod_tup)

(0, 4, 5, 1)

In [41]:
s1={10,10,'Manvith','Manvith',23,'one',1.23,True,False}
print(s1)
print(len(s1))
print(type(s1))
# s1[2]=34 # Error we cannot change elements in set but we can add or remove elements
s1.add(18)
print(s1)
s1.add(99)
print(s1)
s1.remove(True)
print(s1)

{False, 1.23, True, 'one', 23, 10, 'Manvith'}
7
<class 'set'>
{False, 1.23, True, 'one', 18, 23, 10, 'Manvith'}
{False, 1.23, True, 10, 18, 23, 99, 'Manvith', 'one'}
{False, 1.23, 10, 18, 23, 99, 'Manvith', 'one'}

In [42]:
x={'Manvith','Yukti','Madhu'}
y={'Venkat','Karthik','Manvith'}

print(x.union(y))
print(x.intersection(y))
print(x.difference(y))
print(x.isdisjoint(y))
print(x.issubset(y))

{'Karthik', 'Yukti', 'Madhu', 'Manvith', 'Venkat'}
{'Manvith'}
{'Yukti', 'Madhu'}
False
False

In [43]:
test_set=set("python")
print(test_set)
for i in test_set:
    print(i)

{'h', 'o', 't', 'y', 'p', 'n'}
h
o
t
y
p
n

In [44]:
ar1=[1,5,10,20,40,80]
ar2=[6,7,20,80,100]
ar3=[3,4,15,20,30,70,80,120]
print(list(set(ar1).intersection(set(ar2)).intersection(set(ar3))))

[80, 20]

In [45]:
l1=[10,15,20,25,30,35,40]
l2=[25,40,35]
print(list(set(l1).difference(set(l2))))

[10, 20, 30, 15]

In [46]:
l1=[2,3,1]
l1.sort()
print(l1)

[1, 2, 3]

## Workshop1

In [47]:
def func1(*args):
    for i in args:
        print(i)

func1(20,40,60)
func1(80,100)

20
40
60
80
100

In [48]:
def show_employee(name,salary=9000):
    print(name,salary)
show_employee('Manvith',120000)

Manvith 120000

In [49]:
def sum_function(*num):
    total=0
    for i in num:
        total+=i
    return total

print(sum_function(1,2,3,4,5))

15

In [50]:
def mul_numbers(*num):
    pro=1
    for i in num:
        pro*=i
    return pro
print(mul_numbers(1,2,3,4,5))
print(mul_numbers(12,13,14))

120
2184

In [51]:
def arb_kwy(**kwargs):
    for i,j in kwargs.items():
        print(i+': '+j)
arb_kwy(First_Name='Manvith',Last_Name='Vishwanatham',Nickname='Anir')

First_Name: Manvith
Last_Name: Vishwanatham
Nickname: Anir

In [52]:
s="Manvith is a Data Scientist."
s[::-3]

'.ieSt shvM'

In [53]:
s="pyhton"
print(s[::-5])
print(s[::-1][::-5])
print(s[::5])
print(s[0]+s[-1])
print(s[::-1][-1]+s[len(s)-1])

np
pn
pn
pn
pn

In [54]:
s="I love programming"
dict1={}
for i in s:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

# Another way
s = "I love programming"
dict1 = {}
for i in s:
    dict1[i] = dict1.get(i, 0) + 1
print(dict1)

{'I': 1, ' ': 2, 'l': 1, 'o': 2, 'v': 1, 'e': 1, 'p': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}
{'I': 1, ' ': 2, 'l': 1, 'o': 2, 'v': 1, 'e': 1, 'p': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [55]:
s="Manvith is a data scientist."
print(len(s))
if len(s)%4==0:
    print(s[::-1])

28
.tsitneics atad a si htivnaM

In [56]:
s="I love Python and I love Programming"
l=s.split(' ')
dict1={}
for i in l:
    dict1[i]=dict1.get(i,0)+1
print(dict1)

{'I': 2, 'love': 2, 'Python': 1, 'and': 1, 'Programming': 1}

In [57]:
s="python"
s1=""
for i in range(len(s)):
    if i%2==0:
        s1+=s[i]
print(s1)

# Another way
s2=s[::2]
print(s2)

pto
pto

In [58]:
index=int(input("Enter the index to remove from string"))
s="Manvith is a Senior Data Scientist."
s1=s[:index]+s[index+1:]
print(s1)

Enter the index to remove from string 3

Manith is a Senior Data Scientist.

In [59]:
s="python"
for i in s:
    print(f'Current character {i} position at {s.index(i)}')

Current character p position at 0
Current character y position at 1
Current character t position at 2
Current character h position at 3
Current character o position at 4
Current character n position at 5

In [60]:
s='I love Python'
s1=""
for i in s:
    if i!='a' and i!='e' and i!='i' and i!='o' and i!='u':
        s1+=i
print(s1)

I lv Pythn

In [ ]:
name=input("Enter your name: ")
l=name.split()
print(l)
s1=""
for i in l[:-1]:
    s1=s1+i[0]+" "
s1+=l[-1]
print(s1)

mylist=[3,67,'cat',[19,91,'dog'],[],3.14,False]
print(mylist[2:4])

In [63]:
mylist[2][0]

'c'

In [64]:
mylist=[4,2,8,6,5]
mylist=[mylist]*2
mylist[1]=999
print(mylist)

[[4, 2, 8, 6, 5], 999]

In [65]:
list1=["Mam","Dad","Mom","Faf","Pap","as","Bro"]
cnt=0
for i in list1:
    if len(i)>2 and (i[0].lower()==i[-1].lower()):
        print(i)
        cnt+=1
print(cnt)

Mam
Dad
Mom
Faf
Pap
5

In [66]:
list1=["Mam","Dad","Mom","Faf","Pap","as","Bro"]
list1.pop(5)
list1.pop(4)
list1.pop(0)
print(list1)

['Dad', 'Mom', 'Faf', 'Bro']

In [67]:
l=['M','a','n','v','i','t','h']
s=''.join(l)
print(s)
print(type(s))

Manvith
<class 'str'>

In [68]:
l=[10,2,12]
k=''.join(str(i) for i in l)
print(int(k))

10212

In [69]:
s="Manvith is a Data Scientist."
l=s.split()
l

['Manvith', 'is', 'a', 'Data', 'Scientist.']

In [70]:
numbers=[1,2,3,4,5,6,7,8,9,10]
new_list=[i for i in numbers if i%2==0]
new_list

[2, 4, 6, 8, 10]

## Workshop2

In [71]:
str1="String Slicing in Python"
print(str1[13:18])
print(str1[ -2 : -4 : -2])
print(str1[12 : 18 : 2])
print(str1[-17 : -1 : 1])
print(str1[-6 : -20 : -2])
print(str1[0 : 9 : 3])
print(str1[19 : 29])
print(str1[-6 : -20 : -3])
print(str1[-9 : -0 : -1])
print(str1[2 : 16 : 3])

g in
o
n n
Slicing in Pytho
Pn ncl
Si
ython
Pini
i gnicilS gnirt
rgli

In [72]:
word=input("Enter a word: ")
print(word[::2])

Enter a word:  Manvith

Mnih

In [73]:
print(word[1:len(word)-1:2])

avt

In [74]:
lst=[0,1,2,3,4]
print(lst[::-1])

[4, 3, 2, 1, 0]

In [75]:
lst[-2:]

[3, 4]

In [76]:
lst=[40,50,20,30,90]
lst[1:3]

[50, 20]

In [81]:
t1=(1,2,3,4,5)
s1=''.join(str(i) for i in t1)
print(s1)

12345

In [83]:
t1=(1,1.2,True,"Manvith")
print(t1)

(1, 1.2, True, 'Manvith')

In [85]:
t1=(1,1,3,1,3,3,2,1,4,5)
l=[]
for i in t1:
    if t1.count(i)>1 and i not in l:
        l.append(i)
print(l)

[1, 3]

In [86]:
t1 = ("John", True, 1, 4.5, "Danise", "Kelly", 19, 19.1, False, None, 12)
print(t1[3],t1[-4])

4.5 19.1

In [88]:
l1 = ["green", "blue", "pink", "brown"]
print(tuple(l1))

('green', 'blue', 'pink', 'brown')

In [89]:
t1 = (10, 20, 30, 40, 50)
print(t1[::-1])

(50, 40, 30, 20, 10)

In [90]:
t1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(t1[1][1])

20

In [93]:
t1=(12,)
print(t1)

(12,)

In [96]:
t1 = (10, 20, 30, 40)
x1=t1[0]
x2=t1[1]
x3=t1[2]
x4=t1[3]
print(x1,x2,x3,x4)

# Another way
x1,x2,x3,x4=t1
print(x1,x2,x3,x4)

# Tip
x1,x2,*rest=t1
print(x1,x2,rest)
print(x1,x2,tuple(rest))

10 20 30 40
10 20 30 40
10 20 [30, 40]
10 20 (30, 40)

In [97]:
t1 = (10, 10, 10, 20, 30, 40, 50, 10)
print(t1.count(10))

4

In [98]:
s1=set([1,2,1,2,12,10])
for i in s1:
    print(i)

1
2
10
12

In [99]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
print(s1.intersection(s2))

{40, 50, 30}

In [100]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
print(s1.symmetric_difference(s2))

{20, 70, 10, 60}

In [101]:
s1 = {10, 20, 30, 40, 50}
s2 = {60, 70, 80, 90, 10}
is_common=False
s3=s1.intersection(s2)
if len(s3)>0:
    is_common=True
if is_common:
    print(s3)

{10}

In [111]:
s1={10,20,30}
s2={20,40,50}
s1.difference(s2)

{10, 30}

In [113]:
s1 = set([1,2,1,2,12,10])
s1.remove(12)
print(s1)

{1, 2, 10}

In [116]:
s1 = {10, 20, 30, 40, 50}
s1.add(20)
s1

{10, 20, 30, 40, 50}

In [119]:
s1={10,20,30}
s2={20,40,50}
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{10, 30}
{40, 10, 50, 30}

In [122]:
s1={10,20,30,40,50}
s1.clear()
print(s1)
s1.

set()

In [124]:
s = set(['m', 'n', 'y'])