In [1]:
dayTemp1=22
dayTemp2=18
dayTemp3=20
dayTemp4=21
dayTemp5=23
dayTemp6=15
dayTemp7=17
avgTempWeek=(dayTemp1+dayTemp2+dayTemp3+dayTemp4+dayTemp5+dayTemp6+dayTemp7)/7
print('Average Temperature per week: ',round(avgTempWeek,2))

Average Temperature per week:  19.43

In [2]:
temps=[22,18,20,21,23,15,17]
print(temps)
print(type(temps))

[22, 18, 20, 21, 23, 15, 17]
<class 'list'>

In [3]:
print(len(temps))

7

In [4]:
temps.append(18)

In [5]:
print(temps)

[22, 18, 20, 21, 23, 15, 17, 18]

In [6]:
temps.remove(18)

In [7]:
temps.pop()

18

In [8]:
print(temps)

[22, 20, 21, 23, 15, 17]

## Lists are:
1. Heterogeneous
2. Mutable
3. Ordered
4. Allow Duplicates

In [9]:
my_list=[1,2,6,10,9,6,10,1,9,1]
print(my_list)
print(len(my_list))

[1, 2, 6, 10, 9, 6, 10, 1, 9, 1]
10

In [10]:
lst1=[]
print(lst1)
print(type(lst1))
print(len(lst1))

[]
<class 'list'>
0

In [11]:
lst1=[-1,2,5.5,3.3]
print(lst1)

[-1, 2, 5.5, 3.3]

In [12]:
listNumbers=['zero',1,2.0,3,'four']
print(listNumbers)

['zero', 1, 2.0, 3, 'four']

In [13]:
listThings=[1,listNumbers,'Manvith',listNumbers,True,listNumbers]
print(listThings)
print(type(listThings))
print(len(listThings))

[1, ['zero', 1, 2.0, 3, 'four'], 'Manvith', ['zero', 1, 2.0, 3, 'four'], True, ['zero', 1, 2.0, 3, 'four']]
<class 'list'>
6

In [14]:
from pprint import pprint
pprint(listThings,indent=2)

[ 1,
  ['zero', 1, 2.0, 3, 'four'],
  'Manvith',
  ['zero', 1, 2.0, 3, 'four'],
  True,
  ['zero', 1, 2.0, 3, 'four']]

In [15]:
lst1=[[-10,10,2],1.2,3.56,6.789,'Manvith']
lst2=[True,False,"Manvith","Yukti",18,45]
lst3=[lst1,lst2,'Manukti']
print(lst1,lst2,lst3)

[[-10, 10, 2], 1.2, 3.56, 6.789, 'Manvith'] [True, False, 'Manvith', 'Yukti', 18, 45] [[[-10, 10, 2], 1.2, 3.56, 6.789, 'Manvith'], [True, False, 'Manvith', 'Yukti', 18, 45], 'Manukti']

## List Basic Operations

In [16]:
# Concatenation
lst1=[1,3,5]
lst2=[2,4,6]
print(lst1+lst2)

[1, 3, 5, 2, 4, 6]

In [17]:
# Repetition
print(lst1*2)

[1, 3, 5, 1, 3, 5]

In [18]:
print(1 in lst1)
print(1 in lst2)
if 2 in lst2:
    print("2 is in the list")
print(2 not in lst1)

True
False
2 is in the list
True

In [19]:
colors=['White','Black','Violet']
print("Before Appending: ",colors)
colors.append('Red')
print("After Appending: ", colors)

Before Appending:  ['White', 'Black', 'Violet']
After Appending:  ['White', 'Black', 'Violet', 'Red']

In [20]:
kites=['Paper','Fish','Cover']
colors.extend(kites)
print(colors)

['White', 'Black', 'Violet', 'Red', 'Paper', 'Fish', 'Cover']

In [21]:
lst=[1,3,5,1]
lst.remove(1)
print(lst)

[3, 5, 1]

In [22]:
lst.remove(7)

ValueError: list.remove(x): x not in list

In [23]:
lst.pop()
print(lst)

[3, 5]

In [24]:
del lst

In [25]:
print(lst)

NameError: name 'lst' is not defined

In [26]:
lst=[1,2,3,4,5]
print(lst)
lst.clear()
print(lst)

[1, 2, 3, 4, 5]
[]

In [27]:
lst1=[1,2,3]
lst2=lst1
lst2[2]=67
print(lst1,lst2)

[1, 2, 67] [1, 2, 67]

In [28]:
lst1=[1,2,3,4]
lst2=list(lst1)
lst1.append(6)
print(lst1)
print(lst2)

[1, 2, 3, 4, 6]
[1, 2, 3, 4]

In [29]:
lst1=[1,2,3,4,5]
lst2=lst1.copy()
lst1.append(6)
print(lst1)
print(lst2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [30]:
lst1=[4,5,6,2,1]
lst1.sort()
print(lst1)
lst1.sort(reverse=True)
print(lst1)

[1, 2, 4, 5, 6]
[6, 5, 4, 2, 1]

In [31]:
lst=['a','A','b','B']
lst.sort() # Capital letters first i.e sort() function is case sensitive
print(lst)
lst.sort(reverse=True)
print(lst)
lst.sort(key=str.lower)
print(lst)

['A', 'B', 'a', 'b']
['b', 'a', 'B', 'A']
['a', 'A', 'b', 'B']

In [32]:
lst1=['Yukti',91,[1,2,'Manvith'],[False,True],21,91]
print(lst1.count(91))
print(lst1.count('Yukti'))
print(lst1.count('yukti')) # Case Sensitive
print(lst1.count(False)) 
print(lst1.count([1,2,'Manvith']))
print(lst1.count(1))

2
1
0
0
1
0

In [33]:
print(lst1)
lst1.reverse()
print(lst1)

['Yukti', 91, [1, 2, 'Manvith'], [False, True], 21, 91]
[91, 21, [False, True], [1, 2, 'Manvith'], 91, 'Yukti']

In [34]:
help(list.remove)
help(list.count)

Help on method_descriptor:

remove(self, value, /) unbound builtins.list method
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

Help on method_descriptor:

count(self, value, /) unbound builtins.list method
    Return number of occurrences of value.

In [35]:
lst1=[1,3,5]
lst2=[2,4,6]
lst3=lst1+lst2
lst4=list(lst1*5)
lst4.extend(lst2*2)
print(lst4)
print(len(lst3))
print(len(lst4))

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 2, 4, 6, 2, 4, 6]
6
21

## 1.clear()
It is used to clear the elements of the list.

In [36]:
lst=[1,2,3,4]
print(lst)
lst.clear()
print(lst)

[1, 2, 3, 4]
[]

## 2. copy()
It is used to copy the whole list into new variable

In [37]:
lst1=[1,2,3,4]
lst2=lst1
print(lst2)
lst1.append(10)
lst2.append(21)
print(lst1)
print(lst2)

lst1=[1,2,3,4]
lst2=lst1.copy()
print(lst2)
lst1.append(10)
lst2.append(21)
print(lst1)
print(lst2)

[1, 2, 3, 4]
[1, 2, 3, 4, 10, 21]
[1, 2, 3, 4, 10, 21]
[1, 2, 3, 4]
[1, 2, 3, 4, 10]
[1, 2, 3, 4, 21]

## 3. count()
It returns the count of the asked element.

In [38]:
print(lst1.count(1))
print(lst1.count(5))

1
0

## 4. extend()

It is used to extend the list.

In [39]:
lst=[2,4,6,8]
print(lst)
lst.extend([21,34])
print(lst)

[2, 4, 6, 8]
[2, 4, 6, 8, 21, 34]

## 5. append(()

It is used to add an element at the end of the list.

In [40]:
lst=[1,3]
lst.append(5)
print(lst)

[1, 3, 5]

## 6. sort()

It sorts elements inside the list.

In [41]:
lst=[24,16,9]
lst.sort()
print(lst)

[9, 16, 24]

## 7. pop()

It removes the last element from the list

In [42]:
lst=[2,4,6]
print(lst)
lst.pop()
print(lst)
lst1=[]
if len(lst1) > 0:
    lst.pop()
    print("After pop:", lst)
else:
    print("List is empty, cannot pop")

[2, 4, 6]
[2, 4]
List is empty, cannot pop

## 8. reverse()

It reverse the order of elements in the list

In [43]:
lst=[12,23,34]
lst.reverse()
print(lst)

[34, 23, 12]

In [44]:
lst=['Yukti', 'Manvith', 20, 25]
print(lst[0],lst[1])

Yukti Manvith

In [45]:
my_list=["Manvith",[4,8,12,16]]
print(my_list[0][1])
print(my_list[1][0])

a
4

## For Loops

### Syntax:
``` bash
for var in iterable:
    statement(s)
```

In [46]:
my_range=range(0,10)
for i in my_range:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [47]:
Fruits = ['Apples', 'Pears', 'Orange', 'Mandarins', 'Limes', 'Nectarines', 'Apricots', 'Bananas', 'Strawberries', 'Watermelon', 'Plums']

for fruit in Fruits:
    print(fruit,fruit.upper())

Apples APPLES
Pears PEARS
Orange ORANGE
Mandarins MANDARINS
Limes LIMES
Nectarines NECTARINES
Apricots APRICOTS
Bananas BANANAS
Strawberries STRAWBERRIES
Watermelon WATERMELON
Plums PLUMS

In [48]:
str1='Manvith'
for s in str1:
    print(s)

M
a
n
v
i
t
h

In [49]:
lst1=[12,13,14,15,16,17]
sum1=0
for item in lst1:
    sum1+=item
print(sum1)

87

In [50]:
lst1=["small", "medium", "large"]
lst2=["vehicle", "toy", "house"]

for x in lst1:
    for y in lst2:
        print(x,y)

small vehicle
small toy
small house
medium vehicle
medium toy
medium house
large vehicle
large toy
large house

In [51]:
names=['vehicle','toy','house']
for name in names:
    count=0
    while count<5:
        print(name, end=' ')
        count+=1
    print()

vehicle vehicle vehicle vehicle vehicle
toy toy toy toy toy
house house house house house

In [52]:
names = ['vehicle','toy','house']
count=0

while count<5:
    for name in names:
        print(name,end=' ')
    count+=1
    print()

vehicle toy house
vehicle toy house
vehicle toy house
vehicle toy house
vehicle toy house

In [53]:
sequence1=range(20)
sequence2=range(15,20)
sequence3=range(0,22,3)
sequence4=range(-20,-201,-10)
sequence5=range(200,-201,-10)
print(sequence1)
print(sequence2)
print(sequence3)
print(sequence4)
print(sequence5)

range(0, 20)
range(15, 20)
range(0, 22, 3)
range(-20, -201, -10)
range(200, -201, -10)

In [54]:
for i in sequence1:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [55]:
for x in range(10,12):
    for y in range(5):
        print(x,y)

10 0
10 1
10 2
10 3
10 4
11 0
11 1
11 2
11 3
11 4

In [56]:
for i in sequence2:
    print(i)

15
16
17
18
19

In [57]:
for i in sequence3:
    print(i)

0
3
6
9
12
15
18
21

In [58]:
for i in sequence4:
    print(i)

-20
-30
-40
-50
-60
-70
-80
-90
-100
-110
-120
-130
-140
-150
-160
-170
-180
-190
-200

In [59]:
for i in sequence5:
    print(i)

200
190
180
170
160
150
140
130
120
110
100
90
80
70
60
50
40
30
20
10
0
-10
-20
-30
-40
-50
-60
-70
-80
-90
-100
-110
-120
-130
-140
-150
-160
-170
-180
-190
-200

In [60]:
lst=[19,20,30,91,12,1,10,9,92]
for i in lst:
    if i%2==0:
        print(i, end=' ')

20 30 12 10 92

In [61]:
listThings = ['banana', 'apple', 'apple', 3, 10, 78, 5.5, 'apple', list(range(200,205)), 'apple', 'apple', 10.5]
appleList = [ ]
cnt=listThings.count('apple')
listThings.reverse()
for i in range(cnt-1):
    appleList.append('apple')
    listThings.remove('apple')
appleList.append('apple')
listThings.reverse()
print(listThings)
print(appleList)

['banana', 'apple', 3, 10, 78, 5.5, [200, 201, 202, 203, 204], 10.5]
['apple', 'apple', 'apple', 'apple', 'apple']

## Loop Control Statements

In [62]:
# Break Statement
lst1=['vehicle','toy','house']
for x in lst1:
    print(x)
    if x=='toy':
        break
print()
lst1=['vehicle','toy','house']
for x in lst1:
    if x=='toy':
        break
    print(x)

vehicle
toy

vehicle

In [63]:
# Continue Statement
lst1=['vehicle','toy','house']
for x in lst1:
    if x=='toy':
        continue
    print(x)

vehicle
house

In [64]:
# Break Statement
lst1=['vehicle','toy','house']
for x in lst1:
    pass

## Dictionaries
Dictionaries are:
1. Mutable
2. Heterogeneous
3. Ordered

In [65]:
age={"Manvith":22,"Yukti":25,"1":2}
print(type(age))
print(age)
age2=dict(Manvith=22,Yukti=25)
print(type(age2))
print(age2)

<class 'dict'>
{'Manvith': 22, 'Yukti': 25, '1': 2}
<class 'dict'>
{'Manvith': 22, 'Yukti': 25}

In [66]:
adelaideWeather = {'AvgTemp':24, 'AvgYearlyRainfall': 553, 'Climate': 'mediterranean'}
print(adelaideWeather)

{'AvgTemp': 24, 'AvgYearlyRainfall': 553, 'Climate': 'mediterranean'}

In [67]:
favouriteColours = {'Manvith':{'blue', 'purple'}, 'Yukti':{'red', 'yellow'}}
print(favouriteColours)

{'Manvith': {'purple', 'blue'}, 'Yukti': {'yellow', 'red'}}

In [68]:
profession={"Manvith":"Data Science","Yukti":"Project Manager"}
print(area)
profession1=dict(Manvith="Data Science",Yukti="Project Manager")
print(profession)

NameError: name 'area' is not defined

In [69]:
dup={"Manvith":22,"Yukti":25,"Manvith":"Data Scientist","Yukti":"Project Manager"}
print(dup)

{'Manvith': 'Data Scientist', 'Yukti': 'Project Manager'}

In [70]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]

In [71]:
details={"fname":"Manvith","height":"165cm","weight":"75.6kg","age":22}
details["lname"]="Vishwanatham"
details["Hobbies"]=["Reading","Exercise","Communicating"]
print(details)
print(len(details))

{'fname': 'Manvith', 'height': '165cm', 'weight': '75.6kg', 'age': 22, 'lname': 'Vishwanatham', 'Hobbies': ['Reading', 'Exercise', 'Communicating']}
6

In [72]:
print(details["lname"])
print(details["fname"])

Vishwanatham
Manvith

In [73]:
details["fname"]="Yukti"
print(details)
details.update({"fname":"Varshith"})
print(details)
details.update({"fname":"Yukti","age":25})
print(details)

{'fname': 'Yukti', 'height': '165cm', 'weight': '75.6kg', 'age': 22, 'lname': 'Vishwanatham', 'Hobbies': ['Reading', 'Exercise', 'Communicating']}
{'fname': 'Varshith', 'height': '165cm', 'weight': '75.6kg', 'age': 22, 'lname': 'Vishwanatham', 'Hobbies': ['Reading', 'Exercise', 'Communicating']}
{'fname': 'Yukti', 'height': '165cm', 'weight': '75.6kg', 'age': 25, 'lname': 'Vishwanatham', 'Hobbies': ['Reading', 'Exercise', 'Communicating']}

In [74]:
details.pop("lname")
print(details)
details.clear()
print(details)

{'fname': 'Yukti', 'height': '165cm', 'weight': '75.6kg', 'age': 25, 'Hobbies': ['Reading', 'Exercise', 'Communicating']}
{}

In [75]:
age=dict()
age["Manvith"]=22
age["Yukti"]=25
print("age dictionary: ",repr(age))
print("There are " + str(len(age))+" key:value pairs in the dictionary")
ageCopy=age.copy()
print("age dictionary copy: ",repr(ageCopy))
print("copies are equivalent? ",age==ageCopy)
print("are age and ageCopy the same dictionary? ",age is ageCopy)
ageManvith=age.pop("Manvith")
print(ageManvith)
print(age)
del age["Yukti"]
print("age dictionary: ", repr(age))
print("age dictionary copy: ", repr(ageCopy))
print("copies are equivalent? ",age==ageCopy)
ageCopy.clear()
print("age dictionary copy: "+repr(ageCopy))

age dictionary:  {'Manvith': 22, 'Yukti': 25}
There are 2 key:value pairs in the dictionary
age dictionary copy:  {'Manvith': 22, 'Yukti': 25}
copies are equivalent?  True
are age and ageCopy the same dictionary?  False
22
{'Yukti': 25}
age dictionary:  {}
age dictionary copy:  {'Manvith': 22, 'Yukti': 25}
copies are equivalent?  False
age dictionary copy: {}

In [76]:
dict1={}
dict1=dict(Manvith="Data Science",Yukti="Project Manager",Age1=22,Age2=25)
print(dict1)

{'Manvith': 'Data Science', 'Yukti': 'Project Manager', 'Age1': 22, 'Age2': 25}

In [77]:
print(len(dict1))

4

In [78]:
print(dict1["Yukti"])
yuktiAge=dict1.pop("Age2")
print("Yukti's Age: ",yuktiAge)

Project Manager
Yukti's Age:  25

In [79]:
del dict1["Age1"]
print(dict1)
dict1.clear()
print(dict1)

{'Manvith': 'Data Science', 'Yukti': 'Project Manager'}
{}

In [80]:
if "Manvith" in dict1:
    print("Manvith is in dict1 dictionary")
    del dict1["Manvith"]
print()
dict1["Manvith"]="Data Scientist"
if "Manvith" in dict1:
    print("Manvith is in dict1 dictionary")
    del dict1["Manvith"]

Manvith is in dict1 dictionary

In [81]:
age={"Manvith":22,"Yukti":25,"Madhu":23}
for k,v in age.items():
    print(k,': ',v)
print()

for k in age.keys():
    print(k)
print()

for v in age.values():
    print(v)
print()

Manvith :  22
Yukti :  25
Madhu :  23

Manvith
Yukti
Madhu

22
25
23

In [82]:
# Updating everyone's age by 1
for k in age.keys():
    age[k]+=1
print(age)

{'Manvith': 23, 'Yukti': 26, 'Madhu': 24}

In [83]:
from pprint import pprint
students={"Student1":{"name":"Manvith","age":21,"interests":["Programming","Exercising","Reading"]},"Student2":{"name":"Yukti","age":25,"interests":["Management","Exercising","Reading","Exploring"]},"Student3":{"name":"Madhu","age":22,"interests":["Travelling","Vlogging","Communicating"]}}
pprint(students)
print(len(students))

{'Student1': {'age': 21,
              'interests': ['Programming', 'Exercising', 'Reading'],
              'name': 'Manvith'},
 'Student2': {'age': 25,
              'interests': ['Management', 'Exercising', 'Reading', 'Exploring'],
              'name': 'Yukti'},
 'Student3': {'age': 22,
              'interests': ['Travelling', 'Vlogging', 'Communicating'],
              'name': 'Madhu'}}
3

## Workshop1

In [84]:
numbers=[0.0,1,2,3,'four',5.0,'six',7,8.0,9]
index = 0
while index<len(numbers):
    print(f'Index: {index}, Number at index: {numbers[index]}')
    if type(numbers[index])==str:
        break
    index+=1

Index: 0, Number at index: 0.0
Index: 1, Number at index: 1
Index: 2, Number at index: 2
Index: 3, Number at index: 3
Index: 4, Number at index: four

In [85]:
a=[]
b=[-1, -5, 'a', 4, 'd'] 
c=[1, 2, 3, 4, 5] 
d=[[1, 2, 3], 'str', [4, 5]]
print(a)
print(b)
print(c)
print(d)

[]
[-1, -5, 'a', 4, 'd']
[1, 2, 3, 4, 5]
[[1, 2, 3], 'str', [4, 5]]

In [86]:
my_list=[1,2,3,4,5]
print(my_list)
my_list.append(3)
print(my_list)

my_list=my_list+[5]
print(my_list)

my_list=my_list+[1,2,3]
print(my_list)

my_list=[10,20,30]+my_list
print(my_list)

my_list.pop()
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 3]
[1, 2, 3, 4, 5, 3, 5]
[1, 2, 3, 4, 5, 3, 5, 1, 2, 3]
[10, 20, 30, 1, 2, 3, 4, 5, 3, 5, 1, 2, 3]
[10, 20, 30, 1, 2, 3, 4, 5, 3, 5, 1, 2]

In [87]:
l1=[1,2,3]
l1=l1+[7,8,9]
print(l1)

l2=[1,2,3]
l2.append([7,8,9])
print(l2)

[1, 2, 3, 7, 8, 9]
[1, 2, 3, [7, 8, 9]]

In [88]:
print(19 in [10,20,9,22,12,19])
print("dog" in ["duck",20,9,22,12,19])

True
False

In [89]:
x=[1]
print(id(x),':',x)

x.append(5)
x.extend([6,7])
print(id(x),':',x)

5008916032 : [1]
5008916032 : [1, 5, 6, 7]

In [90]:
my_list=[10,20,9,22,12,19]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])

10
20
9
22

In [91]:
list1=['John','Dansie','David','Dansie']
list2=[12,20,30,40]
print(list1[1])
print(list2[1])

Dansie
20

In [92]:
list3=[1,"John",True,[10,20,9,22,12,19]]
print(list3[3][0])

10

In [93]:
lst=[1,2]
lst.append([12,13]) # append is used to add the list or single element to the list
lst.extend([10]) # extend is used to add the elements of the list in the list
print(lst)

[1, 2, [12, 13], 10]

In [94]:
del lst # Deletes the whole lst
# print(lst) # gives error

In [95]:
lst=[1,2,3,4]
lst.remove(1) # removes the element
print(lst)
lst.pop()
print(lst)
lst.pop(0) # removes the last one unless index is mentioned
print(lst)

[2, 3, 4]
[2, 3]
[3]

In [96]:
lst=[4,3,2]
print(lst)
lst.clear()
print(lst)

[4, 3, 2]
[]

In [97]:
list1=["John","Danise","David"]
list2=[12,20,30]
list3=list1+list2
print(list3)

['John', 'Danise', 'David', 12, 20, 30]

In [98]:
pets=['dog','Dog','DOG','fish','cat','Dog']
print(pets.count('Dog'))

2

In [99]:
lst=[1,"John",True,[10,20,9,22,12,19]]
print(len(lst))

4

In [100]:
lst=[10,20,9,22,12,19,None]
lst.sort()
print(lst)

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [105]:
lst=[10,20,9,22,12,19]
lst.reverse()
print(lst)

[19, 12, 22, 9, 20, 10]

In [106]:
import math
print(min(lst))
print(max(lst))
print(sum(lst))

9
22
92

## Workshop2

In [109]:
lst1=[12,35,9,56,24]
print(lst1)
x=lst1[0]
lst1[0]=lst1[-1]
lst1[-1]=x
print(lst1)

lst1=[1,2,3]
print(lst1)
x=lst1[0]
lst1[0]=lst1[-1]
lst1[-1]=x
print(lst1)

[12, 35, 9, 56, 24]
[24, 35, 9, 56, 12]
[1, 2, 3]
[3, 2, 1]

In [111]:
lst=[15,6,7,10,12,20,10,28,10]
x=10
print(lst.count(x))

lst=[8,6,8,10,8,20,10,8,8]
x=16
print(lst.count(x))

3
0

In [110]:
lst=[15,6,7,10,12,20,10,28,10]
x=10
if x in lst:
    print("Exist")
else:
    print("Does not Exist")

lst=[8,6,8,10,8,20,10,8,8]
x=16
if x in lst:
    print("Exist")
else:
    print("Does not Exist")

Exist
Does not Exist

In [112]:
for i in range(4,20,4):
    print(i)

4
8
12
16

In [113]:
li=['a','b','c','d','e']
s=''
for i in range(len(li)-1):
    s=s+str(i)
print(s)

0123

In [114]:
li=[]
for i in range(0,10):
    li.append(i)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
li=[]
for i in range(0,50,3):
    li.append(i)
print(li)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [116]:
li=[10,20,9,22,12,19]
for i in li:
    print(i)

10
20
9
22
12
19

In [117]:
li=[]
lst=[[1,2,3],[4,5,6],[7,8,9]]
for i in lst:
    for j in i:
        li.append(j)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
li=[10,20,9,22,12,19]
lst=[]
for i in li:
    lst.append(i**3)
print(lst)

[1000, 8000, 729, 10648, 1728, 6859]

In [119]:
li=["John", 12, 36.93, [], {}, ["John", "Danise", "David"], {"y":900}, "dog", 12, "duck", 19.91, 19]
lst=[]
for i in li:
    if type(i)==dict:
        continue
    lst.append(type(i))
print(lst)

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'list'>, <class 'list'>, <class 'str'>, <class 'int'>, <class 'str'>, <class 'float'>, <class 'int'>]

In [121]:
li=[1, 10, 12, 20, 19, 93, 91, 21, 30, 33, 36, 49, 120, 136]
l4=[]
l6=[]
l8=[]
l9=[]
for i in li:
    if i%4==0:
        l4.append(i)
    if i%6==0:
        l6.append(i)
    if i%8==0:
        l8.append(i)
    if i%9==0:
        l9.append(i)
print(l4,l6,l8,l9)

[12, 20, 36, 120, 136] [12, 30, 36, 120] [120, 136] [36]

In [135]:
li=["John", 12, 36.93, [], {}, ["John", "Danise", "David"], {"y":900}, "dog", 12, "duck", 19.91, 19]
lst_int=[]
lst_str=[]
lst_flt=[]
for i in li:
    if type(i)==int:
        lst_int.append(i)
    elif type(i)==str:
        lst_str.append(i)
    elif type(i)==float:
        lst_flt.append(i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                lst_int.append(j)
            elif type(j)==str:
                lst_str.append(j)
            elif type(j)==float:
                lst_flt.append(j)
            else:
                pass
    elif type(i)==dict:
        for j in i.values():
            if type(j)==int:
                lst_int.append(j)
            elif type(j)==str:
                lst_str.append(j)
            elif type(j)==float:
                lst_flt.append(j)
            else:
                pass
    else:
        pass
        
print(lst_int,lst_str,lst_flt)

[12, 900, 12, 19] ['John', 'John', 'Danise', 'David', 'dog', 'duck'] [36.93, 19.91]

In [139]:
row=4
for i in range(row):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *

In [141]:
row=4
for i in range(row):
    for j in range(i+1):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [142]:
day = {1: 'm', 2: 't', 3: 'w'}
print(day)

{1: 'm', 2: 't', 3: 'w'}

In [143]:
dc1={}
dc2=dict()
print(dc1,dc2)

{} {}

In [152]:
li1 = ['John', 'Denise', 'David']
li2 = [10, 20, 30]
dc={}
for i in range(len(li1)):
    dc.update({li1[i]:li2[i]})
print(dc)

# Another way
# dc = dict(zip(li1, li2))
# print(dc)

# Another way
dc = {}
for i in range(len(li1)):
    dc[li1[i]] = li2[i]
print(dc)

{'John': 10, 'Denise': 20, 'David': 30}

In [153]:
dc={"y":120, "w": 1100, "m": 190, "n": 1050, "l": 3200, "j": 400}
li=[]
for i in dc.values():
    if i>200:
        li.append(i+600)
print(li)

[1700, 1650, 3800, 1000]

In [154]:
names1={'John':10,'Denise':20,'David':30}
print(names1)
names2={'David':30,'Emma':12,'Finley':19}
print(names2)
names1.update(names2)
print(names1)

{'John': 10, 'Denise': 20, 'David': 30}
{'David': 30, 'Emma': 12, 'Finley': 19}
{'John': 10, 'Denise': 20, 'David': 30, 'Emma': 12, 'Finley': 19}

In [157]:
names = {'John': 10, 'Denise': 20, 'David': 30, 'Emma': 12, 'Kelly': 19, 'Finley': 30}
if 'John' in names.keys():
    print("Exist")
else:
    print("Does not Exist")

Exist

In [161]:
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
details['location']="Sydney"
print(details)

{'name': 'Danise', 'age': 30, 'salary': 90000, 'location': 'Sydney'}

In [163]:
details = {
    "name": "Danise",
    "age": 30,
    "salary": 90000,
    "location": "Adelaide"
}
details.pop("salary")
details.pop("location")
print(details)

{'name': 'Danise', 'age': 30}

In [178]:
details = {
    'emp_1': {'name': 'John', 'salary': 90000},
    'emp_2': {'name': 'Emma', 'salary': 93000},
    'emp_3': {'name': 'Danise', 'salary': 120000}
}
for i in details.values():
    if i['name']=="John":
        i['salary']=102000
print(details)

{'emp_1': {'name': 'John', 'salary': 102000}, 'emp_2': {'name': 'Emma', 'salary': 93000}, 'emp_3': {'name': 'Danise', 'salary': 120000}}