# My first Python Jupyter Notebook
This is my first Jupiter notebook

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [2]:
# The '#' character allows you to add comments about your code
# alphanumeric characters in quoatations simples '' or doubles ""
print('Hello world from Jupyter Notebook!')
print("Hello world from Jupyter Notebook!")

Hello world from Jupyter Notebook!
Hello world from Jupyter Notebook!

In [3]:
# Assigning a value into a variable. In this case, alphanumeric characters
firstVariable = 'Hello world from Jupyter Notebook!'
secondVariable = "Hello world from Jupyter Noteboook!"
# Printing the values of the variables
print(firstVariable)
print(secondVariable)

Hello world from Jupyter Notebook!
Hello world from Jupyter Noteboook!

In [4]:
total = 10 +2
print(1,2,3,4,5,6,7,8,9,10,total,sep="/",end=".")

1/2/3/4/5/6/7/8/9/10/12.

### Headings

# Biggest Heading
## Sub Heading
### Sub Sub Heading
#### Sub SUb Sub Heading

### Numbered Lists
1. Item 1
2. Item 2
3. Item 3
    1. Item 3.1
    2. Item 3.2

### Dot Points
* Point 1
* Point 2
    * Subpoint 2.1
* Point 3

### Emphasis
*Italic*
**Bold**

### Line
***

### Math Symbols
$x=5^2$

In [6]:
print("Hello world ... Manvith Vishwanatham")

Hello world ... Manvith Vishwanatham

$\frac{2_{1y}}{12^{12}}$

* [x] *Week1* **Topic1** Done

In [13]:
firstVariable = 'Hello world from Jupyter Notebook!'
#Printing the values of the variable
print(firstVariable)

Hello world from Jupyter Notebook!

In [14]:
# The = means assign the value on the right to the variable name on the left.
height = 4
# You can see the value of a variable by just typing its name
height

4

In [15]:
age=21
age

21

In [16]:
# integer -> int
dayOfWeek = 7
#Float or decimal
Pi = 3.14159
#boolean -> bool
isMyFirstVariable = False
#String --> you can use single or double quotation
name = 'Manvith'

# you can print out the value of a variable by just typing its name
Pi, isMyFirstVariable, name

(3.14159, False, 'Manvith')

In [18]:
# Example 2 - this code display what type is a variable using the function type (variable name)
print(type(dayOfWeek))
print(type(Pi))
print(type(isMyFirstVariable))
print(type(name))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [22]:
# Integer number example
5

5

In [23]:
#An integer number assigned to x variable
x=47
x

47

In [24]:
#Getting the type of x
type(x)

int

In [25]:
# Decimal number example
90.76

90.76

In [26]:
#a decimal number assigned to d variable
d = 8.256
d

8.256

In [27]:
# Getting the type of d
type(d)

float

In [28]:
# Precision limit
10/3

3.3333333333333335

In [35]:
# most common form round-off error is the representation error in the floating point numbers
4.3333333333333335

4.333333333333334

In [37]:
401e-1

40.1

In [38]:
# Note: We can use the cells as a calculator without assigning the numbers or the result in any variable
# The result given by the cell is the last operation.

3+2
3-2
3*2
3/2
3**2
3//2
3%2

1

In [39]:
# You can also display a result using print
print("3/2=",3/2)

3/2= 1.5

In [40]:
# Note: We can use the cells as a calculator without assigning the numbers or the result in any variable
# The result given by the cell is the last operation.

print(3+2)
print(3-2)
print(3*2)
print(3/2)
print(3**2)
print(3//2)
print(3%2)

5
1
6
1.5
9
1
1

In [41]:
# Note: We can use the cells as a calculator without assigning the numbers or the result in any variable
# The result given by the cell is the last operation.

print(3.3+2.6)
print(3.2-2.5)
print(3.6*2.2)
print(3.7/2.5)
print(3.8**2.5)
print(3.7//2.5)
print(3.1%2.8)

5.9
0.7000000000000002
7.920000000000001
1.48
28.148742067808286
1.0
0.30000000000000027

In [42]:
# Note: We can use the cells as a calculator without assigning the numbers or the result in any variable
# The result given by the cell is the last operation.

print(3.3+2)
print(3.2-2.5)
print(3.6*2)
print(3.7/2.5)
print(3.8**2)
print(3.7//2.5)
print(3.1%2)

5.3
0.7000000000000002
7.2
1.48
14.44
1.0
1.1

In [48]:
print(2/0)

ZeroDivisionError: division by zero

In [43]:
# Note: You can assign different variables with different values at the same time, using commas to seperate them.
a,b,c = 10,-5,0
a=-a
b=-b
c=-c
print(a,b,c)

-10 5 0

In [44]:
print(3+4*2)
print((3+4)*2)

11
14

In [47]:
print(5+10*2/3)
print((5+10)*2/3)
print(5+(10*2)/3)
print(5+10*(2/3))

11.666666666666668
10.0
11.666666666666668
11.666666666666666

In [54]:
#Note: If you don't have any output when you run this cell that means the library has been installed correctly
import math
import random

In [55]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [56]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [57]:
print(math.pow(2,3))

8.0

In [59]:
#perform factorial function of 6
print(math.factorial(6))

720

In [61]:
# perform square root of 16
print(math.sqrt(16))

4.0

In [63]:
# You can create an alias for the library to save typing when you calling the functions
import math as m
print(m.factorial(7))

5040

In [65]:
# Random Numbers
print("Random float number 1 is ", random.random())
print("Random float number 2 is ", random.random())
print("Random float number 3 is ", random.random())
print("Random float number 4 is ", random.random())

Random float number 1 is  0.9379646334824157
Random float number 2 is  0.42132207621447415
Random float number 3 is  0.7003600065991031
Random float number 4 is  0.9019878542600482

In [68]:
print("Random float number between -1.5 and 7 is: ", random.uniform(-1.5,7))
print("Random float number between 25 and 100 is: ", random.uniform(25,100))

Random float number between -1.5 and 7 is:  2.1377853077731492
Random float number between 25 and 100 is:  84.69317212170417

In [71]:
# Example of random integer generation
randomNumber=random.randint(-7,10)
print(randomNumber)
print(random.randint(237,600))

-1
338

In [73]:
# we have dufferent ways to write strings
str1='Hello world!'
str2="Hello world!"
str3="" # an empty string
multilintstr="""My name is Manvith.
I am currently doing masters in data science
"""
print(str1)
print(str2)
print(str3)
print(multilintstr)

Hello world!
Hello world!

My name is Manvith.
I am currently doing masters in data science

In [74]:
type(multilintstr)

str

In [75]:
#\n represents a new line
str="""ABC --
JKH --
"""
str

'ABC --\nJKH --\n'

In [78]:
str="A\nB\nC"
print(str)
str

A
B
C

'A\nB\nC'

In [80]:
str2='K\tU\tO'
print(str2)
str2

K	U	O

'K\tU\tO'

In [85]:
str='I am Varshith's Brother.'
str

SyntaxError: unterminated string literal (detected at line 1) (3480642970.py, line 1)

In [86]:
str='I am Varshith\'s brother.'
print(str)
str

I am Varshith's brother.

"I am Varshith's brother."

In [88]:
str2="I am Varshith's Brother"
print(str2)

I am Varshith's Brother

In [92]:
str1="Hii \"Manvith!\""
str2='Hii "Manvith!"'
print(str1)
print(str2)

Hii "Manvith!"
Hii "Manvith!"

In [93]:
str="""Tia's
his
students'
"""
print(str)

Tia's
his
students'

In [94]:
print("My cat's favourite food is tuna.")

My cat's favourite food is tuna.

### Basic String Operations

In [98]:
# Concatenation
str1="Hello "
str2="Speaking from Salisbury Downs. "
str3="Just to make you believe I am here"
print(str1+str2+str3)
str1+str2+str3

Hello Speaking from Salisbury Downs. Just to make you believe I am here

'Hello Speaking from Salisbury Downs. Just to make you believe I am here'

In [99]:
str4=str1+str2
print("Another way: " + str4)

Another way: Hello Speaking from Salisbury Downs.

In [102]:
# Repeating string for n times
str="Manvith "
str*2

'Manvith Manvith '

In [105]:
str1="Hi "*2
print(str1*4)

Hi Hi Hi Hi Hi Hi Hi Hi

In [106]:
print(len(str1*4))

24

In [109]:
address = input("Where do you live in South Australia? ")
print(address+ " is a great place to stay.")

Where do you live in South Australia?  Salisbury

Salisbury is a great place to stay

In [110]:
str1=input("Str1: ")
str2=input("Str2: ")
str3=input("Str3: ")
print(str1*8)
print(str1+str2+str3)
print("Length of str1: ",len(str1))
print("Length of str2: ",len(str2))
print("Length of str3: ",len(str3))

Str1:  Hii
Str2:  I am Manvith
Str3:  I am student in University of Adelaide

HiiHiiHiiHiiHiiHiiHiiHii
HiiI am ManvithI am student in University of Adelaide
Length of str1:  3
Length of str2:  12
Length of str3:  38

In [114]:
# Some built in methods
str="Manvith"
print(str.upper())
print(str.lower())
print(str.replace('h',''))
print(str.count('e'))
print(str.isalpha())
print(str) #This won't change anything. I need to assign that operation again back to my variable

MANVITH
manvith
Manvit
0
True
Manvith

In [123]:
str="Man123"
print("The string only contains letters? ",str.isalpha())

The string only contains letters?  False

In [125]:
x=True
y=False
print(type(x))
print(type(y))
x=true # It must me 'True'

<class 'bool'>
<class 'bool'>

NameError: name 'true' is not defined

In [126]:
print(type(None))

<class 'NoneType'>

In [129]:
#Including libraries 
import math

# integer -> int
daysOfWeek = 7

#Float or decimal 
Pi = math.pi

#boolean -> bool 
isMyFirstVariable = True

#String --> you can use single or double quotation
name = 'Manvith'

#Printing the value of the variables and their type
print('VariableName         Value                   Type')
print('-----------------------------------------------------------------')
print ('daysOfWeek        ',daysOfWeek,'                 ', type(daysOfWeek))
print ('Pi                ',Pi,' ', type(Pi))
print ('isMyFirstVariable ',isMyFirstVariable,'             ', type(isMyFirstVariable))
print ('name              ',name,'              ', type(name))
#

VariableName         Value                   Type
-----------------------------------------------------------------
daysOfWeek         7                   <class 'int'>
Pi                 3.141592653589793   <class 'float'>
isMyFirstVariable  True               <class 'bool'>
name               Manvith                <class 'str'>

In [138]:
# Converting any type to int

str1='125'
str1_int=int(str1) #Casting from string to int
print(str1)
Pi=int(Pi) # When you convert from float to int, you lose the precision decimals
isMyFirstVariable=int(isMyFirstVariable)
print(str1_int, Pi,isMyFirstVariable)
print('VariableName       Value     Type')
print('------------------------------------------')
print ('str1_int          ',str1_int,' ', type(str1_int))
print ('Pi                ',Pi,'   ', type(Pi))
print ('isMyFirstVariable ',isMyFirstVariable,'   ', type(isMyFirstVariable))
#NOTE: datetime.date type cannot convert to a int

125
125 3 1
VariableName       Value     Type
------------------------------------------
str1_int           125   <class 'int'>
Pi                 3     <class 'int'>
isMyFirstVariable  1     <class 'int'>

In [139]:
#Converting a string to a boolean variable
# All strings convert to True unless they are empty!
str='False'
str_boolean=bool(str)
print('str_boolean: ',str_boolean,' Type', type(str_boolean))

# Using an empty string
str=''
str_boolean=bool(str)
print('str_boolean: ',str_boolean,' Type', type(str_boolean))
#NOTE: To get boolean False when string is 'False' you have to write a conditional logic code
#Like:
str='False'
if str.lower()=='false':
    str_bool=False
else:
    str_bool=True
print(str_bool)

str_boolean:  True  Type <class 'bool'>
str_boolean:  False  Type <class 'bool'>
False

In [140]:
#Converting a number to a boolean variable
#All non-zero values are True!!!

intNum=0 #integer number
floatNum=1.0 #float number
intBig=-45
intBigBool=bool(intBig)
intbool=bool(intNum) #Converting a integer value to boolean
floatbool=bool(floatNum) #Converting a float value to boolean

print('intbool: ',intbool,' Type',type(intbool))
print('intbigbool: ',intBigBool,' Type',type(intBigBool))
print('floatbool: ',floatbool,' Type',type(floatbool))

intbool:  False  Type <class 'bool'>
intbigbool:  True  Type <class 'bool'>
floatbool:  True  Type <class 'bool'>

In [141]:
print(bool(-45))
print(bool(45))
print(bool(0))

True
True
False

In [145]:
# Converting user input
# getting user's name
name=input("Enter your name: ")
print(name)
print(type(name))
number=input("Enter a number: ")
print(number)
print(type(number))
number1=int(input("Enter a number: "))
print(number1)
print(type(number1))
print(math.sqrt(number)) # You cannot perform square root as number is string.

Enter your name:  Manvith

Manvith
<class 'str'>

Enter a number:  4

4
<class 'str'>

Enter a number:  5

5
<class 'int'>

TypeError: must be real number, not str

In [150]:
num=int(input("Enter a number: ")) #You cannot give a float value as input for int.
print(num)
num1=float(input("Enter a number: ")) # But you can give int to float
num1

Enter a number:  2

2

Enter a number:  3.4

3.4

In [152]:
#Task1
num=input("Enter a number: ")
print(type(num))
num1=int(num)
print(num1)
print(type(num1))
num2=float(num)
print(num2)
print(type(num2))

Enter a number:  4

<class 'str'>
4
<class 'int'>
4.0
<class 'float'>

In [158]:
#Task2
num1=int(input("Enter your first number: "))
num2=int(input("Enter your second number: "))
print(num1)
print(num2)
print(math.cos(num1))
print(math.exp(num1))
print(math.sqrt(num2))
print(math.log(num2))
print(math.factorial(num1))

Enter your first number:  4
Enter your second number:  2

4
2
-0.6536436208636119
54.598150033144236
1.4142135623730951
0.6931471805599453
24

In [ ]:
# Add discoveries on python type conversion more from online sources

# Workshop 1

In [165]:
# or u can use help(print)
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [166]:
print('25-03-2003') # My Birth Date.

25-03-2003

In [167]:
print(4+5,10/2,(4+5)/3)

9 5.0 3.0

In [170]:
print("Hello!"), print("Hello!","how are you?"), print("Hello!", "how are you?", "my age is: ",21), print("Hello!", "how are you?", "I Love Programming"), print("Hello! ", "how are you?", "I love Python", sep="\\")

Hello!
Hello! how are you?
Hello! how are you? my age is:  21
Hello! how are you? I Love Programming
Hello! \how are you?\I love Python

(None, None, None, None, None)

In [175]:
print("Name: Manvith"+" Vishwanatham"+"\n"+"Age: 21"+"\n"+"Height: 165cm")

Name: Manvith Vishwanatham
Age: 21
Height: 165cm

# Heading One
## Heading Two
### Heading Three
#### Heading Four
##### Heading Five
###### Heading Six

*italic* **bold**

* One
    * Sublist
      * This

* [x] Complete Python programming exercises
* [ ] Practice mathematical formulas such as y=mx+c and $ V=\frac{1}{3}\pi r^2 h$
* [ ] Learn Python **variables and types**

```python
print("Manvith")
```

```python
print("Manvith")
print(1+2)
# just for markdown code display it wont print the python code
```

# Heading 1
# Headind 2
## Heading 2.1
## Heading 2.2

#### Latex expression
$e^{i\pi}+1=0$

| This | is   |
|------|------|
|   a  | table|

|    Name              |  Syntax                              |
|----------------------|--------------------------------------|
|~Italic~Bold          |**This is Bold**                      |
|Bold and Italic       |**This text is *extremely* important**|

# Workshop 2

In [178]:
help(random.random())

Help on float object:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating-point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is exactly equal to the original float.
 |
 |      The ratio is in lowest terms and has a positive denominator.  Raise
 |      OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /)
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating-point numbers used by the
 |      C type named by typestr.
 |
 |  fromhex(string, /)
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [179]:
x=5
print("The value of x is: ",5*2)

The value of x is:  10

In [181]:
x=10
x=x+2
y=3
x=x+y
print(x)

15

In [183]:
27%7

6

In [204]:
'I have '+ str(10)+' bananas' #It works but i have used str as a variable thats the reason for the error

TypeError: 'str' object is not callable

In [193]:
name="Manvith"
age=21
print(f"My name is {name}. My age is {age}")

My name is Manvith. My age is 21

In [194]:
a=int(input())
b=int(input())
print(a+b)

 1
 2

3

In [196]:
area=float(input("Enter tha area of the circle: "))
r=math.sqrt(area/math.pi)
print(r)

Enter tha area of the circle:  28.2743338823

2.9999999999995683

In [199]:
str1 = "tALk I5 cH3AP" 
str2 = "5H0W m3 tH3 C0D3"
str1=str1.replace('5','s')
str1=str1.replace('3','e')
str2=str2.replace('5','s')
str2=str2.replace('3','e')
str2=str2.replace('0','o')
print(str1.lower())
print(str2.lower())

talk is cheap
show me the code

In [200]:
x="Hi this is a string."
x=x.lower()
print(x.split())

['hi', 'this', 'is', 'a', 'string.']

In [203]:
print(1 + 3 * 2 - 5 + 4)
print(1 + 3 * (2 - 5) + 4)
print(5**2**2*3+1)
print(5**(2**2)*3+1)
print(1 + 3/2)

6
-4
1876
1876
2.5

In [218]:
print(format(0.0001234,".3e"))
print(format(0.1919,"e"))
x=0.00023
print(f"{x:e}")

1.234e-04
1.919000e-01
2.300000e-04

In [221]:
x="how are you? "
print(x.title())
print(x.upper())
print(x.replace('o','$'))
print(x*3)

How Are You?
HOW ARE YOU?
h$w are y$u?
how are you? how are you? how are you?

In [222]:
a=int(input())
b=int(input())
print(a+b,a-b,a/b,a*b,a//b,a%b)

 4
 2

6 2 2.0 8 2 0

In [229]:
x="    \n \t \t        mn,li,jhg.. ..,,m.n., gh.. fgl...e,zwq         \n "
x=x.strip()
x=x.replace(',','')
x=x.replace('.','')
x=x.replace(' ','')
print(x)
print(len(x))

mnlijhgmnghfglezwq
18

In [231]:
x="A A"
print(x,x,sep="-")

A A-A A

`k`

"Hi"  "L"

In [232]:
1+2

3

In [235]:
print("H", "e", "l", "l", "o","!")

H e l l o !

In [236]:
?print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [237]:
1+2

3

In [238]:
1+2

3